*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.width70{
    width: 70%;
    margin:auto;
}

.posizione-fissa{
    position:fixed;
    width: 100%;
}

nav{
    background-color: #FF6900;
}

.contenitore-menu{
    background-color: blue;
    height: 70px;
}

.row30{
    width: calc( 50% / 3);
    border: 3px dashed black;
    height: 30px;
    background-color: aqua;
}

.content-centrale{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: black;
}

.background-arancione{
    background-color: salmon;
    height: 890px;
}

.testo-bianco{
    color: white;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 9pt;
    font-weight: 600;
}

.testo-bianco-hover:hover{
    text-decoration: underline;
}

.margin5{
    margin: 5px;
}

.margin-prova{
    margin-left: 130px;
}