*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.width70{
    width: 70%;
    margin:auto;
}

.posizione-fissa{
    position:fixed;
    width: 100%;
}

nav{
    background-color: #FF6900;
}

.contenitore-menu{
    height: 70px;
}

.row30{
    width: calc( 50% / 3);
    overflow: visible;
    height: 30px;
}

.row70{
    width: 70%;
}

.content-centrale{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: black;
}

.background-arancione{
    background-color: salmon;
}

.menu-centrato{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 9pt;
    font-weight: 600;
}

.testo-bianco{
    color: white;
    list-style-type: none;
}

.testo-bianco-hover:hover{
    text-decoration: underline;
}

.margin5{
    margin: 5px;
}

.margin-prova{
    margin-left: 130px;
}

.contenitore-foto{
    width: 400px;
    height: 608px;
    background-color: cadetblue;
    margin: 22px 12px;
    display: flex;
    align-items: flex-end;
}

.wrap-class{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenitore-testo{
    width: 100%;
    height: 70px;
    background-color: crimson;
    
}

.dimensione-testo-8pt{
    font-size: 8pt;
}